#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg,rgb(255, 212, 219), rgb(255, 235, 239) );
}

.pack {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: auto;
  max-width: calc(100% - 20px);
  margin: 0 10px 30px 10px;
}

.octave1, .octave2, .octave3 {
  display: flex;
  position: relative;
  box-shadow: 0 0 20px 3px rgba(255, 166, 181, 0.5);
}

.black {
  display: flex;
}

.white {
  display: flex;
}

/*?-----------건반 전체 설정-----------*/
.blackKeys {
  border: 1px solid rgb(177, 177, 177);
  width: 30px;
  height: 95px;
  background-color: rgb(76, 76, 76);
}
.blackKeys:active {
  background-color: black;
}


.whiteKeys {
  border: 1px solid black;
  width: 40px;
  height: 160px;
  background-color: white;
}
.whiteKeys:active {
  background-color: rgb(238, 238, 238);
}

/*?-------------건반-------------*/

.black1 {
  position: absolute;
  left: 25px;
}
.black2 {
  position: absolute;
  left: 68px;
}
.black3 {
  position: absolute;
  left: 151px;
}
.black4 {
  position: absolute;
  left: 193px;
}
.black5 {
  position: absolute;
  left: 235px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
